<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>نظرات حیاط</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="css/bootstrap.css" rel="stylesheet" media="screen">

</head>
<body>

	<div class="container">
	</br>
		<div class="navbar navbar-fixed-top-right">

                  <div class="navbar-inner">
                    <div class="container myRight">
                        <a><img src="/assets/exit.png" ><%= link_to("خروج", :controller => 'usr', :action => 'signout') %></a>
                        <a><img src="/assets/setting.png" ><%= link_to("ویرایش", :controller => 'usr', :action => 'adminEdit') %></a>
                  </div><!-- /.navbar-inner -->
                </div><!-- /.navbar -->
	</br>

		<div class="row-fluid">
			<div class="span8 well">
				<h3 class="text-center">نظرات موجود</h3>
                        <h1>_________________________</h1>

                  <% @allCommentsOfGarden.each do |garden| %>
                        <h1> <%= garden.usr_firstN %> می گه:</h1>
                        <h1>متن:</h1>
			<%= garden.message %>

              <p>     <img src="/assets/good.png" ><%= link_to("موافق", :controller => 'comment', :action => 'goodRatingCompute', :commentType => 'adminGarden', :id => garden.id) %>
                        <%= garden.likePoint %>   ||  <img src="/assets/notgood.png" ><%= link_to("مخالف", :controller => 'comment', :action => 'notgoodRatingCompute', :commentType => 'adminGarden', :id => garden.id) %> <%= garden.dislikePoint %> </p>



                        <h1>_________________________</h1>
                  <% end %>
<%= form_tag(:action => 'update', :class => "pull-center text-center" ) do |f| %>

        <tabel>
        <tr>
          <% label_tag(:message, "message", :class => "pull-left text-right") %>
          <%= text_area_tag(:message, nil, :placeholder => 'نظر شما') %>
        </tr>
        </br>

		<%= hidden_field_tag(:commentType, value='admingarden') %>
          <td>&nbsp;</td>
        </br>
          <td><%= submit_tag("ارسال", :class => "btn btn-large btn-primary") %>
        </tr>

      </table>
      <% end %>

			</div>







			<div class="accordion span4" id="leftMenu">
                              <div class="accordion-heading">
                                               <li> <img src="/assets/home.png" > <%= link_to("صفحه اصلی مدیر", :controller => 'usr', :action => 'admin') %>
                                                </li>
                               </div>
                                <div class="accordion-heading">

                                                              <li> <img src="/assets/message.png" ><%= link_to(" مدیریت پیغامها ", :controller => 'msg', :action => 'adminMessageManagement') %></li>

                                </div>
                                                      <ul>
                                                               <li> <%= link_to("       ارسال پیغام جدید", :controller => 'msg', :action => 'adminSendNewMsg') %></li>
                                                                <li> <%= link_to("      مشاهده پیغامها", :controller => 'msg', :action => 'adminSeeMsgList') %></li>
                                                        </ul>
                                <div class="accordion-heading">

                                    <li> <img src="/assets/usrmanage.png" ><%= link_to(" مدیریت اعضا", :controller => 'usr', :action => 'adminUsrManagement') %></li>

                                </div>
                                    <ul>
                                                               <li> <%= link_to(" ایجاد کاربری جدید ", :controller => 'usr', :action => 'signup') %></li>
                                                                <li> <%= link_to(" مشاهده کاربران ", :controller => 'usr', :action => 'showUsrs') %></li>
                                    </ul>



                                <div class="accordion-heading">

                                    <li> <img src="/assets/usrmanage.png" ><%= link_to(" مدیریت شارژها", :controller => 'monthlybill', :action => 'adminMonthlybillManagement') %></li>

                                </div>
                                    <ul>
                                                               <li> <%= link_to("ایجاد قبض ماهانه", :controller => 'monthlybill', :action => 'Management_create') %></li>
                                                                <li> <%= link_to("وضعیت پرداختی ها", :controller => 'charge', :action => 'adminChargeView') %></li>
                                    </ul>
                                        <img src="/assets/gallery-img3.png">
                                </div>


                </div>
        </div>

    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/jquery.featureCarousel.js" type="text/javascript"></script>  
</body>
</html>
